
<div class="nav-white z1"></div>

<div class="container">
  <h1 class="caption center">We believe in drawing <span>outside</span> the lines. </h1>
  <div class="row justify">
    <div class="col-xs-12 col-md-6">
      <article class="about-article">
        <h4>Mission Statement:</h4> To improve the connection between artists and collectors by making the process as simple as possible.
        <h4>Vision Statement:</h4> To ressurect the value of the individual artists of the world by competing with money-oriented commercial vendors.
        <h4>Values:</h4> We value the small time artist. The mom & pop shop owners who create because its what they were designed to do. Art is a way of life for us, rather than a means of making money, thats why we've made our platform free for everyone. We value the individual consumers who just want to buy some authentic art that is unique to them. Most of all, we value hand-made, one-of-a-kind art; we value art that doesnt get reproduced by the hundreds in a factory, art that is unique and incomparable to something you might find on a corporate shelf.
        </article>
    </div>

    <div class="col-xs-12 col-md-6">
      <article class="about-article">
        Hi, I'm Justin Taj and I created Master Medium with the help of my life partner so that people like you could find and buy authetic art more easily, and artists can spend less time and energy concerning themselves with selling their art so they can spend more time exploring the boundaries of that amazing right-side brain that drives us all toward creativity and ultimately ends in <b>MASTERPIECES</b> of all <b>MEDIUMS</b>. Haven't you ever wondered why it is so difficult to find art that belongs to you? Have you ever found yourself bouncing from shop to shop or street fair to street fair trying to find that handmade piece that belongs in your home or around your neck or on your office wall? We have. That's why we created a single platform where artists can sell their art and consumers can easily search for that perfect piece for them, a place where art can be cherished, valued and loved. We got tired of sifting through individual websites of different artists and inputing my information time and time again to buy some art. Thats why we created Master Medium.  Here at Master Medium, our mission is to improve the connection between artists and collectors by making the process as simple as possible. A place where handmade creations can thrive. In a world that is saturated in commercialism, authentic art has taken a big hit. We want to hit back! We say no to commercial inquiries. If you are a real artist, you belong here. If you are searching for real art, you belong here.
      </article>
    </div>
  </div>
</div>
