<div class="container margin-top">
  <h1 class="about-caption center">We believe in drawing <span>outside</span> the lines. </h1>
  <div class="row justify">
    <div class="col-6">
      <article class="about-article">
        Lorem ipsum dolor amet try-hard velit enim, four dollar toast sed raw denim tumeric sunt beard flexitarian sustainable irony 3 wolf moon tofu excepteur. Put a bird on it tumeric pour-over sint, intelligentsia occupy letterpress chillwave. Occaecat sustainable ramps mixtape deserunt. Chambray reprehenderit authentic XOXO pork belly meditation gochujang. Slow-carb art party quinoa tilde. Narwhal in vegan franzen dolore cronut trust fund laborum cillum chartreuse banjo veniam nulla.
      </article>
    </div>
    <div class="col-6">
      <article class="about-article">
        Ipsum helvetica roof party fingerstache eiusmod irure echo park cloud bread. Tattooed taiyaki nostrud photo booth biodiesel ut butcher DIY man braid bicycle rights ethical in yr. Try-hard hot chicken food truck tempor excepteur, beard cillum small batch PBR&B. Listicle shaman master cleanse chillwave church-key in tattooed pop-up. Pop-up quis narwhal, tofu tbh subway tile affogato four loko selfies. Hot chicken kombucha pickled flexitarian flannel post-ironic. Disrupt letterpress try-hard, occupy marfa id ipsum XOXO pinterest literally consequat single-origin coffee mlkshk 3 wolf moon.
      </article>
    </div>
  </div>
</div>
