<div class="container center margin-top">
  <h1>We want to hear what you have to say</h1>
  <h3>Express yourself, ask a question, request an appointment for personalized pieces.</h3>
  <div class="row margin-top">
    <div class="col-6">
    <div class="" id="map"></div>
    </div>
    <div class="col-6">
      <form>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="inputName">Name</label>
          <input type="name" class="form-control" id="" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label for="inputMessage">Message</label>
          <input type="text" class="form-control" id="" placeholder="Enter Message">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Keep me updated</label>
        </div>
        <button type="submit" class="btn btn-primary margin-top">Submit</button>
      </form>
    </div>

  </div>
</div>



<div class="sticky-footer">
<%# must leave open ended for non full pages %>
</div>
