<h1>SimplePages#contact</h1>
<p>Find me in app/views/simple_pages/contact.html.erb</p>
<h1>Feel free to reach out to me my sending an email to contactMe@gmail.com</h1>
<h2>Thank you for your interest, someone will get back to you soon.</h2>
