<div class="nav-white z-1"></div>
    <%= javascript_include_tag "script", "data-turbolinks-track" => true  %>
    <div class="hero z1" id="hero">

      <%= image_tag("cacti.jpg", class: "hero-img img-fluid", id: "hero") %>

      <div class="hero-caption center">
          <h1 class="txt-lg letter-spacing-lg inline sell"><a>SELL</a></h1>
          <h1 class="txt-lg letter-spacing-lg inline buy"><a>BUY</a></h1>
          <h5 class="txt-md letter-spacing-md"><img class="flip" src="https://img.icons8.com/ios/50/000000/undo-filled.png">Click one to get started<img class="rotate" src="https://img.icons8.com/ios/50/000000/undo-filled.png"></h5>
          <h6 class="txt-sm letter-spacing-sm">Or click on the cactus icon to skip this step</h6>
      </div>

      <div class="container center button-container">
        <div class="scroll-button">
          <%# <button type="button" name="button" id="scroll"><a href='#homepage-collection' data-offset='50'><i class="fa fa-angle-down" aria-hidden="true"></i></a></button> %>
          <button type="button" name="button" id="scroll"><a class="anchor-scroll" data-class-to="body" data-on-scroll="blur-effect" href='#homepage-collection'><img class="cactus-icon img-fluid" src="https://img.icons8.com/ios/50/ffffff/cactus.png"></a></button>
        </div>
      </div>

    </div><!-- </hero> -->

    <div class="homepage-collection z1 text-shadow-none" id="homepage-collection">
      <h1 class="center letter-spacing-md txt-lg">Latest Products</h1>
      <div class="container">
        <div class="row">

            <%= render partial: "shared/carousel", locals: {product: @products} %>

        </div><!--row-->
      </div><!--col-->
    </div><!--container-->
