

  <%= image_tag("cacti.jpg", class: "hero-img img-fluid", id: "hero") %>

  <div class="hero-caption center">
      <h1 class="txt-lg letter-spacing-lg inline sell">Welcome to Cactus</h1>
      <h4 class='pt-3'><a href="/products">Find your perfect cactus here</a></h4>
  </div>

<div id="homepage-collection z-1"></div>

<div class="homepage-collection z-2" id="homepage-collection">
  <h1 class="center letter-spacing-md txt-lg">Featured Products</h1>
  <div class="container">
    <div class="row">

        <%= render partial: "shared/carousel", locals: {product: @products} %>

    </div><!--row-->
  </div><!--col-->
</div><!--container-->
