<div class="panel panel-default container">
  <div class="panel-body center thank-you">
    <h3>Thank you. We have received your message and will respond as soon as possible.</h3>
  </div><!-- / panel-body -->
  <%= link_to "Take me to the goodies!", products_path, class: "pt-3"%>

</div><!-- / panel -->
