<div class="container bg-danger log-in p-5 text-white text-shadow-none">
  <h3>We're sorry, but you are not authorized to access this page!</h3>
    <%= link_to 'Back', products_path, class: "text-white text-shadow-none" %>
</div>
