// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
    padding: 1rem;
    justify-content: center;
}

.pagination li {
    padding-right: 0.25rem;
  }
.price {
  font-weight: bold;
}
.nav-white-products {
  width: 100%;
  position: fixed;
  height: 81px;
  background-color: white;
  top: 0;
  z-index: 1;
}
.img-fit {
  // max-height: 140px;
  // min-height: 135px;
}
.product-name{
  font-size: 17px;
  color: #000000;
}
.product-description {
  letter-spacing: 2px;
}
.product-color{}
.product-price{
  font-weight: bold;
}
.product-row {
  padding-bottom: 10px;
  
}
.show-edit-destroy{
  display: none;
}
.product-btn {
  // background-image: linear-gradient(to top, rgba(0, 123, 255, 1), rgba(0, 123, 255, 0));
  background-color: #007bff !important;
  color: #fff !important;
  border-color: #007bff !important;
  padding: 4px !important;
  // border-top: white;
}
.product-img {
}
