// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    bottom: -25px;
  }
  50% {
    opacity: 1;
    bottom: 5px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
.slide-0 {
  animation-delay: 0s;
}
.slide-1 {
  animation-delay: 0.1s;
}
.slide-2 {
  animation-delay: 0.2s;
}
.slide-3 {
  animation-delay: 0.3s;
}
.slide-4 {
  animation-delay: 0.4s;
}
.slide-5 {
  animation-delay: 0.5s;
}
.slide-6 {
  animation-delay: 0.6s;
}
.slide-7 {
  animation-delay: 0.7s;
}
.slide-8 {
  animation-delay: 0.8s;
}
.card {
  animation-name: slideUpFadeIn;
  animation-duration: 2s;
}

.pagination {
    padding: 1rem;
    justify-content: center;
}

.pagination li {
    padding-right: 0.25rem;
  }
.price {
  font-weight: bold;
}
.nav-white-products {
  width: 100%;
  position: fixed;
  height: 81px;
  background-color: white;
  top: 0;
  z-index: 1;
}
.img-fit {
  // max-height: 140px;
  // min-height: 135px;
}
.product-name{
  font-size: 17px;
  color: #000000;
}
.product-description {
  letter-spacing: 2px;
}
.product-color{}
.product-price{
  font-weight: bold;
}
.product-row {
  padding-bottom: 10px;

}
.show-edit-destroy{
  display: none;
}
.product-btn {
  // background-image: linear-gradient(to top, rgba(0, 123, 255, 1), rgba(0, 123, 255, 0));
  background-color: #007bff !important;
  color: #fff !important;
  border-color: #007bff !important;
  padding: 4px !important;
  // border-top: white;
}
.product-img {
}
