// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.price {
  font-weight: bold;
}
.nav-white-products {
  width: 100%;
  position: fixed;
  height: 81px;
  background-color: white;
  top: 0;
  z-index: 1;
}
.img-fit {
  max-height: 140px;
  min-height: 135px;
}
.product-name{
  font-size: 20px;
}
.product-description {
  letter-spacing: 2px;
}
.product-color{}
.product-price{
  font-weight: bold;
}
.product-row {
  padding-bottom: 10px;
}
.show-edit-destroy{
  display: none;
}
