.mw-500 {max-width: 500px;}
.mw-300 {max-width: 300px}
.h-auto {height: auto;}
.fl-left {float: left}
.fl-right {float: right}
.w-auto {width: auto}
.caps {text-transform: uppercase;}
.z-2 {z-index: -2;}
.z-1 {z-index: -1;}
.z1 {z-index: 1;}
.z2 {z-index: 2;}
