// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.log-in {
  max-width: 500px !important;
  border-radius: .5rem;
  margin-top: 2.5rem;
}
.inline {
  display: inline !important;
}
